<h1>
  List of all actors
</h1>

<hr>

<!-- form to add new actor -->
<form action="/insert_actor" method="post">
  <div> <!--actor name-->
    <label for="name">Name</label>
    <input id="name" name="actor_name" type="text">
  </div>

  <div> <!--actor dob-->
    <label for="dob">Dob</label>
    <input id="dob" name="actor_dob" type="date">
  </div>

  <div> <!--actor bio-->
    <label for="bio">Bio</label>
    <textarea id="bio" name="actor_bio" rows="3"></textarea>
  </div>

  <div> <!--actor image_url-->
    <label for="image_url">Image</label>
    <input id="image_url" name="actor_image_url" type="text">
  </div>

  <button>Create actor</button>

</form>

<hr>
<!-- table of actors -->
<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_actors.each do |an_actor| %>
  <tr>
    <td>
      <%= an_actor.id %>
    </td>

    <td>
      <img src="<%= an_actor.image %>" style="width:250px;">
    </td>

    <td>
      <%= an_actor.name %>
    </td>

    <td>
      <%= an_actor.dob %>
    </td>

    <td>
      <a href="/actors/<%= an_actor.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
